.container {
  max-width: 100% !important;
  padding-left: 7px;
  padding-right: 7px;
}

svg {
  color: black;
}

.nav-link {
  color: white;
}

form {
  max-width: 1400px;
  padding-left: 15px;
  padding-right: 15px;
  margin: auto;
}
